body {
  box-sizing: border-box;
}

#external {
  margin: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
  margin: 10px;
  padding: 10px;
  font-weight: bolder;
  background-color: brown;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.content {
  margin: 10px;
  padding: 10px;
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
